

:root {
  --dark-color: #19283f;
  --green-color: #12aefb;
  --red-color: #ff3150;
  --yellow-color: #ffc400;
  --section-color: #e8f5fa;
}

/*navbar*/
.navbar .navbar-nav .nav-link {
  color: var(--dark-color);
  scroll-behavior: smooth;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color: var(--green-color);
}
html {
  scroll-behavior: smooth;
}


.socialIcon {
  border-left: 1px solid #eee;
  display: flex;
}
@media(max-width: 992px){
  .socialIcon {
    display: none;
  }
}
.navbar-toggler {
  color: white;
  font-size: 25px;
  border-color: white;
}
.navbar-toggler:focus {
  box-shadow: none;
}

/*landing */

.landing {
  /* background-color: #19283f;  */
  min-height: calc(100vh - 72px);
}
.video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}
.main-btn {
  color: var(--yellow-color);
  padding: 1rem 1.5rem;
  text-decoration: none;
  background: linear-gradient(to bottom right, blue, pink);
}
.main-btn:hover {
  color: var(--yellow-color);
}
.main-title::after {
  content: '';
  width: 120px;
  height: 2px;
  background-color: var(--green-color);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.mainIcon {
  color: #e0e523;
  width: 70px;
  height: 70px;
}



.cardbg {
  background-color: #b4c7dbbd;
  box-shadow: 5px 5px 5px 5px #eee;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}
.cardbg:hover {
  transform: translateY(-7px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.simple-linear {
  background: linear-gradient(blue, pink);
}
.diagonal-gradient {
  background: linear-gradient(to bottom right, blue, pink);
}
.horizontal-gradient {
  background: linear-gradient(to right, blue, pink);
}

/* our work*/

.our-work {
  background-color: var(--section-color);
}
.work-list {
  background-color: #12aefb;
font-size: 16px;
}

@media (max-width: 762px) {
  .work-list {
  font-size: 12px;
  }
}
@media (max-width: 500px) {
  .work-list {
  font-size: 10px;
  }
}
@media (max-width: 250px) {
  .work-list {
  font-size: 6px;
  }
}
.work-list li {
  padding: 0.5rem 0.5rem;
  cursor: pointer;
}

.work-list .active {
  background: linear-gradient(to right, blue, pink);
}
.work-list li:not(.active):hover {
  color: var(--red-color);
}

.work-box .box {

  overflow: hidden;
  position: relative;
  background-color: #907f9b40;

  margin-bottom: 22px;
}
.work-box .box::before {
  content: attr(data-work);

  position: absolute;
  background: linear-gradient(to bottom right, #0000ff30, #ffc0cb94);
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  font-size: 2rem;
  transition: 0.3s;
  transform: translateX(calc(-100% - 5px));
  cursor: pointer;
}

.work-box .box:hover::before {
  transform: translateX(0);
}

/*team */

.stuff .description {
  max-width: 600px;
}


.image {
overflow: hidden;
}

.team .img {
  position: relative;
}

.team .img .social {
  position: absolute;
  width: 100%;
  bottom: 30px;

  text-align: center;
  opacity: 0;

  transition: all 0.4s;
  display: flex;
    justify-content: center;
}
.team .img .social .boxIcon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #eee;
  padding: 17px;
  display: flex;
}
.team .img .social .ico {
  font-size: 30px;

  transition: all 0.4s;
  cursor: pointer;
}

.team .img:hover .social {
  opacity: 1;
  transform: translateY(-50px);
}
.team .item {
  background-color: #e8f5fa;
  width:100%;
  height: 100%;
  border-radius: 10px 166px 20px 20px;


}
.team .item .img .imgteam {
border-radius: 50%;
}

.info {
  background: linear-gradient(to bottom right, blue, pink);
  border-radius: 1px 1px 16px 16px;
}
.info h6 {
  margin-top: 15px;
  font-size: bold;

}
h6 {
  font-size: 2rem;
  color: #e8f5fa;
}
.info span {
  font-size: 2rem;
  color: #e8f5fa;
}

/*techs*/


.techs {
  background-color: #eee;
  height: 800px;
  width: 100%;
}

.testimonial {
  background-color: #267ea46b;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-content: center;

}

.testimonial .testimon {
  border-radius: 50%;
  border: 10px solid rgb(66, 16, 228)(238, 238, 238);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.testimonial .carousel-indicators {
  bottom: -40px;
}

.subscribe {
  background: linear-gradient(to right, blue, pink);
  color: #19283f;
}
.form-footer,
.footer {
  background: linear-gradient(to right, blue, pink);
}
.btn-submit {
 color: yellow;
  background: linear-gradient(to bottom right, blue, pink);
}

.copyright div > span {
  color: var(--yellow-color);
  font-size: 16px;
  font-weight: bold;

}

@media (max-width: 767px) {
  .copyright {
    position: absolute;
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
    margin-top: 5px;
  }
}


/* contact */
.contact-style {
  height: 1500px;
}
@media(max-width: 992px){
  .contact-style {
    height: 2100px;
  }
}
.banner {
  background-color: #f0f8ff75;
}
.title-page {
display: flex;
justify-content: center;
align-items: center;


}
.title-page h2 {
  font-size: 66px;
}
.section-title {
  text-align: center;
  width: 50%;
  margin: 40px auto;
  background-color: #9bbbd6;
}
@media(max-width: 768px){
  .section-title {
    width: 80%;
  }
}
.list-info {
  height: 300px;
}
@media(max-width: 992px){
  .list-info {
    height: 500px;
  }
}
@media(max-width: 776px){
  .list-info {
    height: 800px;
  }
}
.contact-information-card p{
  font-size: 16px;
  text-align: center;
}
.icon-contact {
  margin: 0 auto;
  text-align: center;
 
}
.icon-element {
  display: inline-block;
  height: 80px;
  width: 80px;
  padding: 18px;
  line-height: 65px;
  text-align: center;
  font-size: 30px;
  border-radius: 50px;
  background-color: var(--section-color);
  color: var(--green-color);
}
.contact-information-card h3 {
  margin: 0 auto;
  text-align: center;
}
.card-info {
  flex: 0 0 auto;
    height: 200px;
    border: 2px solid;
    margin-left: 20px;
    background-color: #94acc0;
}
@media(min-width: 992px){
  .card-info {
 max-width: 22%;
  }
}
@media(max-width: 768px){
  .card-info {
 max-width: 100%;
  }
}
.contact-form {
  width: 100%;
  margin: auto;
  padding: 30px;
  background-color: #eee;
}
form {
  background-color: #eee;

}
.btn-special {
  padding: 15px 30px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  transition: 1s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 5px;
  z-index: 0;
  background: var(--green-color);
  box-shadow: none;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 1px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
/* quote */
.section-quote {
  height: 1000px;
  background-color: #eee;


}


