

:root {
  --dark-color: #19283f;
  --green-color: #12aefb;
  --red-color: #ff3150;
  --yellow-color: #ffc400;
  --section-color: #e8f5fa;
}

/*navbar*/
.navbar .navbar-nav .nav-link {
  color: white;
  scroll-behavior: smooth;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color: var(--green-color);
}
html {
  scroll-behavior: smooth;
}
/* a:hover {
  color: var(--green-color);
}; */

.socialIcon {
  border-left: 1px solid #eee;
}
.navbar-toggler {
  color: white;
  font-size: 25px;
  border-color: white;
}
.navbar-toggler:focus {
  box-shadow: none;
}

/*landing */

.landing {
  /* background-color: #19283f;  */
  min-height: calc(100vh - 72px);
}
.video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}
.main-btn {
  color: var(--yellow-color);
  padding: 1rem 1.5rem;
  text-decoration: none;
  background: linear-gradient(to bottom right, blue, pink);
}
.main-btn:hover {
  color: var(--yellow-color);
}
.main-title::after {
  content: '';
  width: 120px;
  height: 2px;
  background-color: var(--green-color);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.main-title {
}
.mainIcon {
  color: #e0e523;
  width: 70px;
  height: 70px;
}

/*feature*/
.imgs {
}

.buttonPlus {
}
.cardbg {
  background-color: #b4c7dbbd;
  box-shadow: 5px 5px 5px 5px #eee;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}
.cardbg:hover {
  transform: translateY(-7px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.simple-linear {
  background: linear-gradient(blue, pink);
}
.diagonal-gradient {
  background: linear-gradient(to bottom right, blue, pink);
}
.horizontal-gradient {
  background: linear-gradient(to right, blue, pink);
}

/* our work*/

.our-work {
  background-color: var(--section-color);
}
.work-list li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.work-list .active {
  background: linear-gradient(to right, blue, pink);
}
.work-list li:not(.active):hover {
  color: var(--red-color);
}
.work-list {
  background-color: #12aefb;
}
.work-box .box {
  /* padding: 5px; */
  overflow: hidden;
  position: relative;
  background-color: #907f9b40;

  margin-bottom: 22px;
}
.work-box .box::before {
  content: attr(data-work);

  position: absolute;
  background: linear-gradient(to bottom right, #0000ff30, #ffc0cb94);
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  font-size: 2rem;
  transition: 0.3s;
  transform: translateX(calc(-100% - 5px));
  cursor: pointer;
}

.work-box .box:hover::before {
  transform: translateX(0);
}

/*team */

.stuff .description {
  max-width: 600px;
}
.image {
  border: 2px solid #eee;
  border-radius: 4px;
}
.team .img {
  position: relative;
}

.team .img .social {
  position: absolute;
  width: 100%;
  bottom: 30px;

  text-align: center;
  opacity: 0;

  transition: all 0.4s;
}
.team .img .social .boxIcon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #eee;
  padding: 20px;
}
.team .img .social .ico {
  font-size: 22px;

  transition: all 0.4s;
  cursor: pointer;
}

.team .img:hover .social {
  opacity: 1;
  transform: translateY(-50px);
}
.team .item {
  background-color: #e8f5fa;
  width:100%;
  height: 100%;
  border-radius: 10px 166px 20px 20px;


}
.team .item .img .imgteam {
border-radius: 50%;
}

.info {
  background: linear-gradient(to bottom right, blue, pink);
  border-radius: 1px 1px 16px 16px;
}
.info h6 {
  margin-top: 15px;
  font-size: bold;

}
h6 {
  font-size: 2rem;
  color: #e8f5fa;
}
.info span {
  font-size: 2rem;
  color: #e8f5fa;
}

/*techs*/


.techs {
  background-color: #eee;
}

.subscribe {
  background: linear-gradient(to right, blue, pink);
}
.footer {
  background: linear-gradient(to right, blue, pink);
}
.copyright div > span {
  color: var(--yellow-color);
  font-size: 16px;
  font-weight: bold;

}

@media (max-width: 767px) {
  .copyright {
    position: absolute;
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
    margin-top: 5px;
  }
}